.alert {
  padding: 15px;
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #eee;
  border-radius: 12px;
  width: calc(100% - 32px);
  position: relative;
  transition: margin .3s;
  animation: init .5s;

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;

    &.title {
      font-weight: bold;
    }

    &.message {
      word-wrap: wrap;
    }
  }

  @media(prefers-color-scheme: dark) {
    background: rgba(80, 80, 80, 0.8);
    border: 1px solid rgb(90, 90, 90);
  }

  &.error {
    background: rgba(255, 63, 63, 0.5);
  }

  .close {
    position: absolute;
    left: -8px;
    top: -8px;
    padding: 7px;
    border-radius: 100px;
    line-height: 0.5;
    background: rgba(255, 255, 255, 1);
    width: 3px;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 8px;
    opacity: 0;
    transition: opacity .3s, box-shadow .3s;
    overflow: hidden;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.05);

    @media(prefers-color-scheme: dark) {
      background: rgba(80, 80, 80, 1);
      border: 1px solid rgb(90, 90, 90);
    }

    &:hover {
      box-shadow: 0px 3px rgba(0, 0, 0, 0.15);
    }
  }

  &:hover {
    .close {
      opacity: 1;
    }
  }
}

@keyframes init {
  from {
    margin-left: 30vw;
  }
  to {
    margin-left: 0vw;
  }
}