* {
  outline: none;
}

:root {
  --background: #f9f9f9;
  --foreground: #333;
  --accent: rgb(57, 110, 255);
  --accent-hover: rgb(48, 103, 253);
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #f9f9f9;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 5px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}